#tbody {
  margin-top: 0px;
  display: flex;
  position: absolute;
  left: 5%;
  flex-direction: column;
  margin-left: 6%;
  height: 100%;
}

#contentsTop {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  position: relative; /* Ensure relative positioning for absolute children */
}

.top {
  font-size: 54px;
  font-family: sans-serif;
  font-weight: bolder;
  margin-bottom: 0;
}

.bottom {
  margin-top: 0;
  font-size: 57px;
  color: red;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: bolder;
}

#rightContentTop {
  position: relative; 
  width: 60vw;/* Ensure relative positioning for absolute children */
}

#carHome {
  position: absolute;
  top: -10vh;
  right: 0;
  width: 80vw; /* Adjust width as needed */
  max-width: 100%; /* Ensure it doesn't overflow */
}

#slogan {
  font-size: 20px;
}

#numbersTop {
  display: grid;
  font-size: 20px;
  grid-template-columns: 100px 150px;
  padding-left: 0;
}

#li-r-border {
  border-right: 2px solid gray;
}

.widthTopNumbers {
  margin-left: 30px;
}

/* Animation keyframes */

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-top {
  animation: slideInFromTop 0.5s ease-in forwards;
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-bottom {
  animation: slideInFromBottom 0.5s ease-in forwards;
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(50px); /* Start from 50px to the right */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Move to the original position */
  }
}

.slide-in-right {
  animation: slideInFromRight 0.5s ease-in forwards;
}


#leftContentTop
{
  display: flex;
  flex-direction: column;
}

.bigNum
{
  font-size: xx-large;
  font-weight: bolder;
  font-family: sans-serif;
  padding-bottom: 10px;
}
